@use "sass:color";

$color-button-first: #13183F;
$color-button-first-hover: #666CA3;

$color-button-second: linear-gradient(0deg, #f02aa6, #ff6f48);

$color-button-third: linear-gradient(180deg, #4851ff, #f02aa6);
