@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("../Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf");
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;

}

